*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow-x:hidden;
    background-color: hsl(0, 0%, 99%);
    font-family: "Nunito Sans", sans-serif;
    font-size:14px;
    color:hsl(200, 15%, 8%)
}
.flex{
    display:flex;
    align-items: center;
}
nav{
    height:10%;
    box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
    background-color: hsl(0, 100%, 100%);
    justify-content: space-between;
}

nav div{
    flex:3
}
nav h1{
    flex:9;
}
#switch{
    flex:1;
    cursor:pointer;
}
.container{
    margin:auto;
    width:70%;
    height:100%;
    padding:30px 2px;
}
.container div:first-child{
        justify-content: space-between;
}
.search,.select{
    padding:15px;
   border: none;
   box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
   border-radius: 5px;
}
.search:focus,.select:focus{
   outline: none;
   border:none;
}
.search{
    width: 25vw;
    flex:3;
    padding:12px 12px 12px 35px;
    font-size: 15px;
}
.select{
    width:12vw;
    flex:3

}
.flex i{
    color:hsl(0, 0%, 50%);
    margin-left:12px;
    position: absolute;
}

nav i {
    font-size: 20px;
   left:76%;
position: absolute;
}
.country_item{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    margin-top:50px;
}

.box{
    width:14.5vw;
    height:46vh;
    border-radius:5px;
    box-shadow: 1px 1px 5px hsl(0, 0%, 50%);
    margin:2% 1.5%;
    cursor:pointer;
    display:flex;
    align-content: stretch;
    flex-direction: column;
}
.box:hover{
    box-shadow: 2px 2px 5px hsl(0, 0%, 50%);
        cursor: url('gps.png'),pointer;
}
.img{
    width:100%;
    height:45%;
    object-fit: fill;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.details{
width:100%;
max-height:55%;
padding:5px 15px;
overflow:hidden;
    text-overflow: ellipsis;
}
.name{
    max-width:80%;
    height:27%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.reg,.pop,.capital{
    font-size:12.5px;
}
.bold{
    font-weight: bold;
}

.disp{
    display: none;
}


.back_btn_darkmode{
cursor:pointer;
font-size:16px;
font-family:inherit;
border:none;
border-radius:5px;
padding:15px 50px;
background-color:inherit;
box-shadow:1px 1px 3px hsl(200, 15%, 8%);
color:inherit
}
.back_btn_lightmode{
    cursor:pointer;
    font-size:16px;
    font-family:inherit;
    border:none;
    border-radius:5px;
    padding:15px 50px;
    background-color:inherit;
    box-shadow:1px 1px 5px hsl(207, 26%, 17%);
    color:inherit
}

.ex_div{
    width:100%;
    margin: 30px auto;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    padding:1px
}

.box1_box2{
    display:flex;
    align-items:stretch;
    justify-content:space-between
}

.text{
font-size:17px;font-weight:800
}
.text_value{
font-weight:normal;
font-size:16px
}

.borders_darkmode{
margin-top:15px;
margin-left:15px;
cursor:pointer;
font-size:inherit;
font-family:inherit;
border:none;border-radius:5px;
padding:5px 20px;
background-color:inherit;
box-shadow:1px 1px 5px hsl(200, 15%, 8%);
color:inherit
}

.borders_lightmode{
margin-top:15px;
margin-left:15px;
cursor:pointer;
font-size:inherit;
font-family:inherit;
border:none;
border-radius:5px;
padding:5px 20px;
background-color:inherit;
box-shadow:1px 1px 5px hsl(207, 26%, 17%);
color:inherit
}

.details_img{
    flex:2;
    width:50%;
    height:60vh

}